# Análisis de Datos
pandas
numpy

# NLP y Procesamiento de Texto
nltk
vaderSentiment
pysentimiento
spacy
wordcloud

# Visualización
matplotlib
seaborn

# MLOps y Seguimiento
mlflow

# Utilidades
scikit-learn
langdetect